<div class="container-fluid">
  <h5> <em>Description:</em> </h5>
  <div class="row">
    <p>
      <strong>Author:</strong> <em>{{quote.author}}</em>
    </p>
    <p>
      <strong>Submitted by:</strong> <em>{{quote.name}}</em>
      <p> {{quote.completeDate|dateCount}} days passed since initial quote creation date</p>
    </p>
    <p>
      <strong>Likes</strong> <em>{{quote.upVotes}}</em>
    </p>
    <p>
      <strong>Dislikes</strong> <em>{{quote.downVotes}}</em>
    </p>
  </div>
  <button type="button" class="btn btn-success" (click)='upvote()'>I Love It!{{quote.upvotes}}</button>
  <button type="button" class="btn btn-danger" (click)='downVote()'>Not Good!{{quote.downvotes}}</button>
  <button class="btn btn-primary" (click)='quoteDelete(true)'>Delete Quote</button>
</div>
