<div class="container-fluid">
  <div class="jumbotron">
    <div class="row">
      <form (ngSubmit)='submitQuote()' #quoteForm='ngForm' class="form-inline">

        <div class="form-group" id="intro">
          <label for="quote">Quote</label>
          <input class="form-control" id="quote" [(ngModel)]="newQuote.quote" name="quote" #quote="ngModel" required>
          <div [hidden]="quote.valid || quote.pristine" class="alert alert-danger">


            <p>Quote is Required</p>
          </div>
        </div>
        <div class="form-group">
          <label for="author">Author Name</label>
          <input type="text" class="form-control" id="author" [(ngModel)]="newQuote.author" name="author"
            #author="ngModel" required>

          <div [hidden]="author.valid || author.pristine" class="alert alert-warning">
            <p>Author Name is Required</p>
          </div>
        </div>
        <div class="form-group">
          <label for="name">Uploaded by</label>
          <input type="text" class="form-control" id="name" [(ngModel)]="newQuote.name" name="name" #name='ngModel'
            required>

          <div [hidden]="name.valid || name.pristine" class="alert alert-warning">
            <p>Uploader's name is Required</p>
          </div>
        </div>
        <div class="form-group">
          <label for="date">Upload Date</label>
          <input type="text" class="form-control" id="date" required [(ngModel)]="newQuote.date" name="date"
            #date='ngModel' disabled>

          <div [hidden]="date.valid || date.pristine" class="alert alert-warning">
            <p>Upload Date is Required</p>
          </div>

          <button type="submit" class="btn btn-success">Contribute Quote</button>
          <button type="reset" class="btn btn-danger">Clear All</button>
        </div>
      </form>
    </div>
  </div>
